<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Phaser Game</title>
	<style>
	    body{
	        padding:0px;
	        margin: 0;
	        background:black;
	        text-align: center;
	    }
	    .container{
	        margin-top: 500px;
	    }
	    .container a:link, .container a:visited{
	        display: block;
	        text-decoration: none;
	        color: #e3e5e8;
	    }
	</style>
</head>
<body>
    <div class="container">
        <a href="/phaser/slide-show-01">slide show?</a>
        <a href="/phaser/petGame">pet game</a>
        <a href="/phaser/dontCrush">don't crush!</a>
    </div>
</body>
</html>