<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
	<title>Phaser Game - Pet Game</title>
	<style>
	    body{
	        padding:0px;
	        margin:0px;
	        background:black;
	    }
	</style>
	<script type="text/javascript" src="/phaser/js/phaser.min.js"></script>
</head>
<body>
	<script type="text/javascript" src="/phaser/js/petGame/bootState.js"></script>
	<script type="text/javascript" src="/phaser/js/petGame/preloadState.js"></script>
	<script type="text/javascript" src="/phaser/js/petGame/homeState.js"></script>
	<script type="text/javascript" src="/phaser/js/petGame/gameState.js"></script>
	<script type="text/javascript" src="/phaser/js/petGame/mainPet.js"></script>
</body>
</html>
