<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rudi Lee | portfolio</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <!--<link rel="stylesheet" href="/0-main/css/skeleton.css">-->
        <link rel="stylesheet" href="/0-main/css/app.css">
    </head>
    <body>
        <div class="rep">
        <header class="game-box">
            <div id="scene" class="scene">
                <div class="layer" data-depth="0.20"><img src="/0-main/img/04-midBrick.png"></div>
                <div class="layer" data-depth="0.40"><img src="/0-main/img/05-mario.png"></div>
                <div class="layer" data-depth="0.10"><img src="/0-main/img/06-topText.png"></div>
                <div class="layer" data-depth="0.30"><img src="/0-main/img/07-turtle1.png"></div>
                <div class="layer" data-depth="0.20"><img src="/0-main/img/08-turtle2.png"></div>
                <div class="layer" data-depth="0.30"><img src="/0-main/img/03-coins1.png"></div>
            </div>
        </header>
        </div>
        <!--<i class="ion-social-html5"></i><i class="ion-social-css3"></i><i class="ion-social-sass"></i><i class="ion-social-javascript"></i>-->
        <section class="content">
            <h1>Hi, I'm Rudi</h1>
            <h2>i code for web and stuff.</h2>
            <div class="container02">
                <h4>Phaser stuff:</h4>
                <ul>
                    <li><a href="/phaser/slide-show-01">Sprite slider, audio mechanics</a></li>
                    <li><a href="/phaser/petGame">dragging, health, buttons mechanics</a></i></li>
                </ul>
            </div>
            <div class="container01">
                <h4>Demo pages:</h4>
                <ul>
                    <li><a href="/whichcolor">Which Color?</a> - HTML5. CSS3, SASS, jQuery</li>
                    <li><a href="/dougie">supersimplepage</a> - HTML5. CSS3, SASS</i></li>
                    <li><a href="/foodie">foodie!</a> - HTML5. CSS3, JavaScript</li>
                </ul>
            </div>
            
            
            
            <br>
            <!--<a href="/pixi">PixiJS</a>-->
        </section>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/0-main/js/parallax.min.js"></script>
        <script>
            var scene = document.getElementById('scene');
            var parallax = new Parallax(scene);
            
        </script>
    </body>
</html>


