<!DOCTYPE html>
<html>
    <head>
        <title>Rudi Lee | Portfolio</title>
        <script type="module" src="/pixi/mario/marioMain.js"></script>
    </head>
    <body>
        <canvas id="screen" width="640" height="640"></canvas>
    </body>
</html>